@media (min-width:300px) and (max-width:600px) {
    .res-mt-15 {
        margin-top: 15px;
    }
    .res-px-0 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .dashboard-user-size{
        margin-bottom: 22px;
    }
    .res-nav-block {
        display: block;
    }
    #flush-collapseOne span{
        font-size: 13px;
    }
    .img-box{
        margin-top: 25%;
    }
    .res-mt-3{
        margin-top: 12px;
    }
    .main-college-about ul li {
    font-size: 13px;
    }
    .wrapped-content-upload ul li{
        font-size: 13px;
    }
    .css-k28thh .requirement-title{
        font-size: 13px;
    }
    .css-required> :first-child>span{
        font-size: 13px;
    }
    .css-1lp81ux .css-fke44g{
        font-size: 13px;
    }
    .acccrodion-list-detalis li{
        width: 100%;
    }
    .student-profile-review1 .right-side-content img{
        width: 13px;
        height: 13px;
    }
    .css-10vh6ur {
        height: 25px;
        width: 25px;
    }
    .css-1q3p0bj{
        height: 25px;
        width: 25px;
    }
    .css-n118i9{
        height: 25px;
        width: 25px;
    }
    .css-epjyqf{
        height: 25px;
        width: 25px;
    }
    .css-1lrwgxh{
        margin: 10px;
    }
    
    .student-profile-review1 .nav-pills .nav-link{
        font-size: 13px;
            margin-bottom: 10px;
    }
    .student-profile-review1 .download-all-btn{
        margin-top: -52px;
    }
    .student-profile-review1 .download-all-btn a{
            font-size: 13px;
            padding: 10px 10px;
            width: 117px;
    }
    .student-profile-review1 .accordion-button h2 {
        font-size: 13px;
        padding: 5px;
    }
    .font-resp {
        font-size: 13px;
    }
    .css-15zjdt5 a{
            font-size: 13px;
    }
    .muiBox-root span{
        font-size: 13px;
    }
    .css-1rxnsrf span{
        font-size: 13px;
    }
    .status .form-check label{
        font-size: 13px;
    }
    .students-all-information ul li{
        font-size: 13px;
    }
    .jss1152{
        font-size: 13px;
    }
    .cencel_document{
        top: -137px;
    }
    #crumbs ul li a {
        float: none;
        font-size: 13px;
        text-align: left;
    }
    #crumbs ul li a:before{
        border-left: none;
    }
    #crumbs ul li:nth-child(1) a {
    padding-left: 35px;
    }
    .css-1dt3oac a{
            font-size: 13px;
    }
    
    .css-120btev{
        font-size: 13px;
    }
    .css-1lgqrjk{
        font-size: 13px;
    }
    .modal-content h2{
        font-size: 13px;
    }
    .modal-content h4, h5, h6{
        font-size: 13px;
    }
    .school-tabs-main h4{
        font-size: 13px;
    }
    .accordion-body label{
            font-size: 13px;
    }
    .additional-qualifications h4{
        font-size: 13px;
    }
    #sorting{
        padding: 0px 0px 0px 5px;
        margin-top: 15px;
        margin-left: -6px;
    }
    .desk-float{
        float: left;
        margin-bottom: 4px;
        margin-top: 10px;
    }
    .additional-qualifications label{
        font-size: 13px;
    }
    .background-information h4{
        font-size: 13px;
    }
    .schools-attended div{
            font-size: 13px;
    }
    .stepwizard .btn-primary{
        font-size: 13px;
    }
    .profile-complete h4{
            font-size: 13px;
            margin-left: 90px;
    }
    .personal-information h4{
            font-size: 13px;
    }
    .personal-information h5{
        font-size: 13px;
    }
    label {
        font-size: 13px;
    }
    .upload-documents h4{
        font-size: 13px;
    }
    
    .form-select, input.form-control {
        font-size: 13px;
    }
    .schools-attended h4{
        font-size: 13px;
    }
    .form-check .form-check-input{
            margin-right: 5px;
            margin-top: 0px;
    }
    .address-detail h4{
        font-size: 13px;
    }
    .education-summary h4{
        font-size: 13px;
    }
    .radio-main label{
        padding-top: 2px;
    }
    .discover-programs{
                margin-right: 35px;
                font-size: 13px;
    }
    .stepwizard .btn-default{
        margin-bottom: 0px;
        padding: 0px 10px;
        font-size: 13px;
    }
    .css-1sqs8up{
            display: inline-block;
    }
    .css-1ai5g3s{
         font-size: 13px;
         margin-right: 0px;
    }
    .css-1ksf4ma {
        padding: 0px 2px 9px !important;
        margin: 0px 0px;
    }
    .css-c6v9dn{
        padding: 0px 2px;
     margin: 0px 0px 0px 1px;
     font-size: 11px;
    }
    
    .css-1ksf4ma{
        font-size: 13px;
    }
    .program-card-heading .btn.btn-primary{
        font-size: 13px;
    }
    .cost-duration p span {
        font-size: 13px;
        }
    .admission-requirements .card h4{
            font-size: 13px;
        }
    .accordion-header .accordion-button{
        font-size: 13px !important;
    }
    .program-intakes .accordion-header span.green{
        font-size: 13px;
    }
    .w-48{
        width: 98%;
    }
    .pagination-wrapper svg {
     width: 10%;
    }
    .pagination-wrapper .text-sm.font-medium {
    font-size: 13px !important;
        padding: 10px !important;
    }
    .resp-btn{
        margin-left:0px !important;
    }
    .resp-nav{
            padding-top: 10px;
            padding-bottom: 40px;
    }
    .f-18{
        font-size: 13px !important;
    }
    .f-13{
        font-size: 13px !important;
    }
    .inp-resp{
        width: 100px;
    }
    .page-content p{
        font-size: 13px !important;
    }
    .main-features span{
        font-size: 13px !important;
    }
    .bt-resp {
        padding: 8px 12px !important;
    }
    .aa{
        margin-left: 53px;
    }
    .slt-resp {
        width: 92%;
    margin-right: -52px;
    margin-top: 4px;
    }
    .page-content.h-100 {
        height: unset;
    }
    .close-nav {
        display: block;
    }
    .slide-logo h5 {
        height: auto !important;
    }
    .side-profile .profile-login.d-inline-block {
        top: 3%;
        left: 0;
    }
    .form-Program-set {
        padding: 10px 20px;
        margin-bottom: 120px;
    }
    .btn-programs {
        border-radius: 30px;
    }
    .profile-holder .profile-box img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        object-position: center center;
    }
    .main-account-list li:nth-child(1) {
       margin: 5px 5px;
    }
    .main-account-list h5{
        margin: 0px;
    }
    .profile-main-detalis {
        padding-left: 12px;
    }
    .profile-main-detalis .student-id {
        padding: 3px 6px;
        margin: 0;
        min-width: unset;
        height: unset;
        display: unset;
        align-items: unset;
        justify-content: unset;
    }
    .profile-main-detalis .studentl-id {
        min-width: unset;
        height: unset;
        display: unset;
    }
    .profile-main-detalis .bar-chart {
        height: unset;
        display: unset;
        margin: 0;
    }
    .profile-detalis {
        margin: 10px 0;
    }
    .profile-img {
        margin: auto;
    }
    .profile-box {
        margin: 10px 0;
    }
    .main-progers-bar .tlarea ul li.active.pending .step .status-lines .cancelled {
        display: none;
    }
    .main-progers-bar .tlarea ul li.active.pending .step .status-lines .pending {
        display: none;
    }
    .main-progers-bar .tlarea ul {
        display: unset;
    }
    .main-progers-bar .tlarea ul li {
        width: 20%;
    }
    .form-Program-set .dropdown-select.wide {
        width: 100%;
        border: 1px solid #a79f9f;
        border-radius: 50px;
        margin-bottom: 10px;
    }
    .form-Program-set form {
        border: 0 solid #b7bbb9;
    }
    #vertical-menu-btn {
        display: block;
    }
    body#main {
        padding: 0;
    }
    ol.breadcrumb {
        padding: 0.75rem 0;
        font-size: 13px;
    }
    .circle-box {
        margin-bottom: 10px;
    }
    .dropdown-menu.show {
        top: 0.7% !important;
        right: 5% !important;
    }
    .navbar-header .dropdown .dropdown-menu .p-3 {
        padding: 10px !important;
    }
    #vertical-menu-btn {
        display: block;
    }
    .institution-details h4,
    .top-disciplines h4 {
        padding: 10px 10px 10px !important;
    }
    .nav-college-list .nav-menu li a {
        padding: 5px 6px;
        font-size: 13px !important;
    }
    .right-side-filter button.btn.btn-primary {
        margin-right: 5px;
    }
    .programs-form-search .form-group {
        margin-bottom: 10px;
    }
    .programs-form-search .form-group.mt-3 {
        margin-top: 0 !important;
    }
    .program-card-heading p {
        margin-bottom: 10px;
        font-size: 13px;
    }
    .program-card-main {
        display: block;
    }
    .program-card-img img {
        margin: 10px 30px 15px 0px;
    }
    .program-card-heading ul li {
        width: 49% !important;
        margin-bottom: 20px;
    }
    .program-card-heading ul {
        margin-bottom: 10px;
    }
    .program-card,
    .program-list {
        margin-top: 10px;
    }
    .select-bar-program {
        top: 0.5%;
    }
    .program-list button {
        margin-bottom: 10px;
    }
    .page-header-search-dropdown {
        display: none;
    }
    .program .input-group.d-flex.justify-content-center .w-25 {
        width: 34% !important;
    }
    .college-location-way li {
        padding: 0 10px 10px 0;
        font-size: 13px;
    }
    .college-location-way h6{
        font-size: 13px !important;
    }
    .college-location-way li:nth-child(1) {
        border-right: none;
        padding-bottom: 2px;
    }
    .main-programs-img {
        padding: 5px;
        align-items: center;
    }
    .m-60 {
        margin-top: 20px;
    }
    .college-details .mt-5 {
        margin-top: 1.5rem !important;
    }
    .d-none-custom {
        display: none;
    }
    #accordionPanelsStayOpenExample .accordion-header .accordion-button {
        padding: 5px 0;
        padding-right: 12px;
        font-size: 13px;
    }
    .feature-icon {
        height: 25px;
        width: 25px;
        line-height: 25px;
        margin-left: 8px;
    }
    .admission-requirements .card h4 {
        margin: 5px 0 0;
    }
    .admission-requirements .card-body {
        padding: 10px 20px;
    }
    #admission-requirements .accordion-header {
        padding: 5px 12px;
    }
    #similar-programs h4 {
        margin-bottom: 10px;
    }
    .commissions,
    .program-intakes {
        margin-top: 20px;
    }
    .main-features-about .p-3 {
        padding: 5px !important;
        margin: 0 !important;
    }
    .main-programs-img h2 {
        margin: 0;
        font-size: 13px !important;
    }
    
    .accordion-body .form-group {
        margin-bottom: 20px;
    }
    .main-programs-img a img {
        margin-right: 0;
    }
    .map-footer p {
        font-size: 13px;
    }
    .filter_list_main {
        padding-bottom: 10px;
    }
    .program-card-heading h4 {
        font-size: 13px;
    }
    .program-card-heading ul li .list-li p {
        font-size: 13px;
    }
    .main-college-about {
         margin-bottom: 15px;
         margin-top: 15px;
    }
    .home-icon{
            margin-bottom: 10px;
    }
    .main-college-about p {
        font-size: 13px !important;
        margin-bottom: 15px;
    }
    .main-programs-img-content {
        display: block;
        padding: 10px 0 15px;
        border-bottom: 1px solid #d1d1d1;
    }
    .select-submit {
        margin-top: 20px;
    }
    .program input {
        font-size: 13px;
    }
    span.css-pyrmrv {
        text-align: right;
    }
    .main-programs-list {
        margin: 15px 0;
    }
    .main-programs-list .css-1kos2q0>span {
        margin: 10px 15px;
        font-size: 13px;
    }
    .select-submit a{
        font-size: 13px;
    }
    .program-list a{
        font-size: 13px;
    }
    .main-programs-img a {
        padding-right: 10px;
        font-size: 13px;
    }
    .css-6g7jag {
        font-size: 13px;
    }
    .program-list .nav-pills .nav-link {
        padding: 10px 3px;
        font-size: 13px;
    }
    .deposit-success {
        padding: 5px;
        font-size: 12px;
        line-height: 18px;
    }
    .image-content h2 {
        padding-left: 3px;
    }
    .image-content img {
        height: 30px;
        width: 30px;
    }
    .w-33 {
        width: auto;
    }
    .pt-sm-0 {
        padding-top: 0;
    }
    .pb-sm-0 {
        padding-bottom: 0;
    }
    body.sidebar-enable #sidebar-menu ul li a span {
        display: inline-block;
        margin: 0;
    }
    .slide-logo {
        padding-top: 60px;
    }
    .slide #sidebar-menu ul li a span {
        font-size: unset;
        padding-left: 0;
    }
    body.sidebar-enable .slide-logo h5 {
        display: none;
    }
    body.sidebar-enable .side-profile {
        padding: 30px 0 20px;
    }
    body.sidebar-enable .profile-login .dropdown-menu.show {
        top: 100% !important;
        right: 5% !important;
        margin-left: 40px !important;
        width: 100%;
    }
    /*--- New Css  21-09-2022  --*/
    .header-item {
        padding: 15px 10px;
    }
    body.sidebar-enable h5.full_logo {
        display: block;
        height: 50px;
        line-height: 60px;
        font-weight: 600;
    }
    body.sidebar-enable .profile-login .user-name span {
        display: block;
        padding-left: 10px;
    }
    .phone-noti .btn,
    .profile-login .btn {
        padding: 0 10px;
    }
    .row.flex-column-reverse-only-sm .bg-primary.bg-soft .p-4 {
        padding: 15px 15px 20px !important;
    }
    /* .page-content {
        padding: 0;
    } */
    .page-title-box h4 {
        margin: 0;
        width: 83%;
    }
    .nav-pills .nav-link {
        padding: 7px 15px;
        font-size: 13px;
    }
    .font-size-18 {
        font-size: 13px !important;
    }
    table th,
    table td {
        font-size: 12px !important;
        padding: 5px !important;
    }
    .bg-primary.bg-soft h4 {
        font-size: 13px !important;
    }
    .bg-primary.bg-soft h5 {
        font-size: 13px !important;
    }
    .pt-3,
    .pt-2 {
        padding-top: 0rem !important;
    }
    .mb-4 {
        margin-bottom: 0.5rem !important;
    }
    p {
        margin-bottom: 0rem;
        font-size: 13px !important;
    }
    .mt-4 {
        margin-top: 0.5rem !important;
    }
    
    .dashboard-user-content p {
        font-size: 13px;
    }
    .dashboard-user-content p b {
        font-size: 13px;
    }
    .dashboard-user-content .icon {
        line-height: 25px;
        font-size: 14px;
    }
    .dashboard-user-img {
        margin: auto 0;
    }
    .dashboard-icon {
        padding-top: 15px;
    }
    .dashboard-icon i {
        font-size: 27px !important;
    }
    .dashboard-user-content p {
        line-height: 25px;
    }
    .view-all.btn-team {
        margin: 10px 0 0 0;
    }
    .col-xl-4.summary-box {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .summary-box .main-sale-report-box .card-body {
        padding: 0.5rem 0;
    }
    .commissions-by.mt-3,
    .wallet-summary-holder {
        margin-top: 1rem !important;
    }
    .school-section {
        margin-top: 20px;
    }
    .paid-all-detalis.nav-pills .nav-link {
        padding: 10px;
        font-size: 13px;
    }
    .image-content h2 {
        font-size: 13px;
        line-height: 30px;
    }
    .status-danger,
    .status-success {
        padding: 5px 7px;
        font-size: 13px;
        line-height: 22px;
    }
    .image-content {
        padding-right: 30px;
    }
    #chartDiv {
        height: 250px !important;
    }
    .collage-name h5 {
        font-size: 13px;
        margin-top: 5px;
        line-height: 20px;
    }
    .col-xl-3.mt-xs-3 {
        margin-top: 20px;
    }
    .vertical-menu {
        width: 280px;
        left: 0;
    }
    #sidebar-menu ul li a span {
        display: unset;
    }
    #sidebar-menu ul li a {
        font-size: 13px;
    }
    h5.full_logo {
        display: unset;
        line-height: 30px;
    }
    h5.hide_logo {
        display: none;
    }
    #sidebar-menu {
        padding: 0px 0 5px 0;
    }
    .xAxisLabel {
        font-size: 9px;
    }
    .row.flex-column-reverse-only-sm {
        flex-direction: column-reverse;
    }
    .profile-login {
        position: absolute;
        top: 5px;
        margin-left: -55px
    }
    .phone-noti {
        
        top: 0px;
        
    }
    .resp {
        font-size: 10px;
        padding: 5px ;
    }
    
    .shadow-md1 .switch {
        width: 45px;
        height: 20px;
    }
    .shadow-md {
        left: 2%;
        right: unset !important;
        padding: 2px 5px;
        margin-bottom: 0.5rem;
        height: 2rem;
    }
    .shadow-md ul {
        padding-left: 5px;
    }
    .color-layout {
        height: 15px;
        width: 15px;
        margin-right: 5px;
    }
    .heading-dark,
    .color_change {
        display: none;
    }
    .shadow-md1 {
        padding: 2px 7px;
        margin-bottom: 0.5rem;
        right: 2%;
        height: 2rem;
    }
    .shadow-md1 .slider:before {
        transform: translateX(-25px);
    }
    .shadow-md1 input:checked+.slider:before {
        transform: translateX(25px);
    }
    .mini-stats-wid .card-body {
        padding: 10px;
    }
    .mini-stats-wid {
        margin-bottom: 20px;
    }
    .mini-stats-wid p {
        margin: 6px auto;
        font-size: 13px;
    }
    .profile-login .dropdown-menu.show,
    .phone-noti .dropdown-menu.show {
        top: 100% !important;
        min-width: auto;
    }
    .phone-noti .dropdown-menu.show {
        min-width: 15rem !important;
        right: 0 !important;
    }
    .notification-item .d-flex {
        padding: 5px;
    }
    .my-4 {
        margin: 0 !important;
    }
    .card-body {
        padding: 10px;
    }
    .sidebar-enable {
        overflow: hidden;
    }
    .commissions-by ul li {
        font-size: 13px;
        padding-right: 5px;
    }
    .price-list,
    #csmTable tr td {
        font-size: 13px;
    }
    .requiements-list li div {
        width: 30px;
        height: 30px;
    }
    .summary-box .main-sale-report-box .card-body h4 {
        font-size: 13px;
    }
    .dropdown .dropdown-menu .dropdown-item {
        font-size: 13px;
    }
    .avatar-title {
        height: 35px;
        width: 35px;
    }
    #vertical-menu-btn {
        border: 2px solid #3d3e3ecc;
        padding: 10px 5px !important;
        border-radius: 7px;
    }
    #vertical-menu-btn i {
        line-height: 0px;
    }
    #page-topbar .navbar-header {
        margin: 10px 15px 0px 15px;
    }
}

@media (min-width:601px) and (max-width:992px) {
    .dashboard-user-size {
    padding-top: 51px !important;
    }
    
    .res-p-0 {
        padding: 0;
    }
    .res-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .slide-logo h5 {
        height: auto !important;
    }
    .close-nav {
        display: block;
    }
    .profile-login .user-name.custom span {
        display: block;
    }
    .application-card {
        margin: 20px 0;
    }
    .form-Program-set .dropdown-select.wide {
        width: 100%;
        border: 1px solid #a79f9f;
        border-radius: 50px;
        margin-bottom: 10px;
    }
    .form-Program-set form {
        border: 0 solid #b7bbb9;
    }
    #vertical-menu-btn {
        display: block;
    }
    .main-account-list li:nth-child(1) {
        margin: 10px 20px;
    }
    /*--- New Css  21-09-2022  --*/
    .dashboard-user-content .icon {
        line-height: 25px;
    }
    #vertical-menu-btn {
        display: block;
        padding-top: 20px;
    }
    .mini-stats-wid {
        margin-bottom: 20px;
    }
    .mb-4 {
        margin-bottom: 1rem !important;
    }
    .sidebar-enable {
        overflow: hidden;
    }
    .shadow-md {
        right: unset;
        left: 1%;
        padding: 5px 10px 5px 10px;
        bottom: -20px;
    }
    .shadow-md1 {
        bottom: -20px;
        padding: 5px 10px 5px 10px;
    }
    .cmb-3 {
        margin-bottom: 0;
    }
    .col-xl-4.summary-box {
        margin-bottom: 20px;
    }
    .vertical-menu {
        width: 350px;
    }
    #sidebar-menu ul li a span {
        display: unset;
        padding-left: 0 !important;
        font-size: 13px;
    }
    #sidebar-menu ul li a {
        font-size: 13px;
    }
    h5.full_logo {
        display: unset;
        line-height: 30px;
        font-weight: 600;
    }
    h5.hide_logo {
        display: none;
    }
    #sidebar-menu {
        padding: 10px 0 5px 0;
    }
    .row.flex-column-reverse-only-sm {
        flex-direction: column-reverse;
    }
    .mini-stats-wid p {
        font-size: 13px;
    }
    .mini-stats-wid h3 {
        font-size: 13px;
        line-height: 1rem;
    }
    .app-status tr:nth-child(1) td {
        width: auto !important;
    }
    .requiements-list li div {
        width: 25px;
        height: 25px;
    }
    table th,
    table td {
        font-size: 12px;
    }
    .p-4 {
        padding: 1rem !important;
    }
    .slide-logo {
        padding-top: 70px;
    }
    .side-profile .profile-login.d-inline-block {
        top: 2%;
        left: 0;
        position: absolute;
        width: 80%;
    }
    .phone-noti {
        position: absolute;
        top: -80%;
        right: 10%;
    }
    .profile-login {
        position: absolute;
        top: -80%;
        right: 0;
    }
    .page-title-box {
        padding-top: 15px;
    }
    #vertical-menu-btn {
        border: 2px solid #3d3e3ecc;
        padding: 10px 5px !important;
        border-radius: 7px;
    }
    #vertical-menu-btn i {
        line-height: 0px;
    }
    #page-topbar .navbar-header {
        margin: 20px 15px 0px 15px;
    }
    .color-layout {
        height: 20px;
        width: 20px;
        margin-right: 5px;
    }
    .shadow-md1 .switch {
        width: 50px;
        height: 25px;
    }
    .shadow-md1 .slider:before {
        transform: translateX(-25px);
    }
    .heading-dark {
        padding-right: 10px;
    }
    .collage-name h5 {
        font-size: 13px;
        margin-top: 5px;
    }
    .summary-box .main-sale-report-box .card-body {
        padding: 0.8rem 0;
    }
    .avatar-title {
        height: 40px;
        width: 40px;
    }
    .avatar-title i {
        font-size: 18px !important;
    }
}

@media (min-width:993px) and (max-width:1200px) {
    .res-p-0 {
        padding: 0;
    }
    .res-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .f-13{
        font-size: 13px;
    }
    
    .close-nav {
        display: none;
    }
    .slide-logo h5 {
        height: auto !important;
        line-height: 60px;
        padding-top: 10px;
    }
    #sidebar-menu {
        padding: 0 0 5px 0;
    }
    .form-Program-set .dropdown-select.wide {
        width: 100%;
        border: 1px solid #a79f9f;
        border-radius: 50px;
        margin-bottom: 10px;
    }
    .form-Program-set form {
        border: 0 solid #b7bbb9;
    }
    .main-account-list li:nth-child(1) {
        margin: 10px 20px;
    }
    /*--- New Css  21-09-2022  --*/
    .summary-box {
        margin-bottom: 20px;
    }
    .shadow-md {
        right: 22%;
    }
    .mini-stats-wid p {
        margin: 5px auto;
        font-size: 13px;
    }
    .mini-stats-wid h3 {
        font-size: 13px;
        line-height: 1.3rem;
    }
    .paid-all-detalis.nav-pills .nav-link {
        padding: 10px;
        font-size: 13px;
    }
    table th,
    table td {
        font-size: 12px;
    }
    .requiements-list li div {
        width: 30px;
        height: 30px;
    }
    .card-title {
        margin-bottom: 8px !important;
    }
    .app-status tr:nth-child(1) td {
        width: auto !important;
    }
    .mt-4 {
        margin-top: 0.5rem !important;
    }
    .mb-3 {
        margin-bottom: 0.5rem !important;
    }
    .summary-box .main-sale-report-box .card-body {
        padding: 0.8rem 0;
    }
    .slide #sidebar-menu ul li a span {
        font-size: 13px;
        padding-left: 0;
        margin-left: 5px;
    }
    #sidebar-menu ul li a i {
        font-size: 13px;
    }
    .side-profile {
        padding: 20px 0 20px;
    }
    .collage-name h5 {
        font-size: 13px;
    }
}

@media (min-width:1201px) and (max-width:1300px) {
    .res-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .form-Program-set .dropdown-select.wide {
        width: 37%;
    }
    .accordion-body label {
        font-size: 13px;
    }
    /*--- New Css  21-09-2022  --*/
}

@media (min-width:1201px) and (max-width:1400px) {
    .res-p-0 {
        padding: 0;
    }
    .res-px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    
    .app-status tr {
        height: 38px;
    }
    .dashboard-user-size {
        
        padding-top: 51px !important;
    }
    
    .form-Program-set .dropdown-select.wide {
        width: 38%;
    }
    /*--- New Css  21-09-2022  --*/
    .dashboard-user-content p {
        margin: 0;
        font-size: 13px;
        color: #1b1b38d9;
        line-height: 25px;
    }
    .collage-name h5 {
        font-size: 13px;
    }
    .dashboard-user-content .icon {
        font-size: 13px;
        line-height: 23px;
    }
    .close-nav {
        display: none;
    }
    .mini-stats-wid p {
        font-size: 13px;
    }
    .mini-stats-wid .card-body {
        padding: 0.8rem 1rem;
    }
    .bg-primary.bg-soft .col-5 {
        width: 20%;
    }
    .bg-primary.bg-soft .col-7 {
        width: 80%;
    }
    .mini-stats-wid h3 {
        font-size: 13px;
    }
    .card-title {
        margin-bottom: 5px !important;
    }
    table th,
    table td {
        font-size: 12px;
    }
    .mb-3 {
        margin-bottom: 0.5rem !important;
    }
    .btn-group-sm>.btn,
    .btn-sm {
        padding: 7px;
    }
    .row.flex-column-reverse-only-sm .card-body {
        padding: 10px;
    }
    .shadow-md {
        right: 17%;
    }
    .table> :not(caption)>*>* {
        padding: 5px;
    }
    .summary-box .main-sale-report-box .card-body {
        padding: 1rem 0;
    }
    .paid-all-detalis.nav-pills .nav-link {
        padding: 10px;
        font-size: 13px;
    }
    .dashboard-user-content p b {
        font-size: unset;
    }
    .dashboard-user-content p {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 5px;
    }
    .dashboard-user-content .icon {
        font-size: 13px;
        line-height: 19px;
        margin-bottom: 5px;
    }
}

@media (min-width:1401px) and (max-width:1500px) {
    .dashboard-user-content p {
        
        
        font-size: 13px;
        color: #1b1b38d9;
        line-height: 20px;
    }
    .view-all.btn-team {
        margin: -35px 0 0 0;
    }
    .shadow-md {
        right: 17% !important;
    }
}

@media (min-width:1501px) and (max-width:1550px) {
    .dashboard-user-content p {
        margin: 0;
        font-size: 13px;
        color: #1b1b38d9;
        line-height: 30px;
    }
    .view-all.btn-team {
        margin: -35px 0 0 0;
    }
}

@media (min-width:1551px) and (max-width:1600px) {
    .dashboard-user-content p {
        margin: 0;
        font-size: 13px;
        color: #1b1b38d9;
        line-height: 30px;
    }
    .view-all.btn-team {
        margin: -35px 0 0 0;
    }
}

@media (min-width:1401px) and (max-width:1900px) {
    #crumbs ul li a {
        height: 30px;
        padding: 5px 0px 30px 25px;
        font-size: 13px;
    }
    .main-review-left {
        padding: 5px 15px 5px;
    }
    .students-all-information h2 {
        padding: 5px 15px;
    }
    .students-all-information .accordion-body {
        padding: 5px 10px;
    }
    .fs-4 {
        font-size: 1rem !important;
    }
    #crumbs ul li a.application-active::after {
        border-left: 20px solid #10ab68;
    }
    .wrapped-content-upload p {
        font-size: 13px;
    }
    .attached-documents p {
        font-size: 13px !important;
    }
    .add-backup-program {
        padding: 5px 0;
    }
    #crumbs ul li a:after {
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 20px solid #a7a7a7;
        right: -20px;
    }
    #crumbs ul li a:before {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #fff;
    }
    .status .form-check {
        display: flex;
    }
    .status .form-check label {
        font-size: 13px;
        padding-right: 0;
    }
    .muiBox-root span {
        font-size: 13px;
    }
    .sidebarcountry {
        margin-right: 10px;
    }
    .form-Program-set .dropdown-select.wide {
        width: 40%;
    }
    .shadow-md {
        right: 15%;
    }
    /*--- New Css  21-09-2022  --*/
    .close-nav {
        display: none;
    }
    .bg-primary.bg-soft .col-5 {
        width: 20%;
    }
    .bg-primary.bg-soft .col-7 {
        width: 80%;
    }
    .btn-group-sm>.btn,
    .btn-sm {
        padding: 7px;
    }
    .table> :not(caption)>*>* {
        padding: 5px;
    }
    .summary-box .main-sale-report-box .card-body {
        padding: 1rem 0;
    }
    .paid-all-detalis.nav-pills .nav-link {
        padding: 10px;
        font-size: 13px;
    }
    .main-timeline ul li { 
        font-size: 13px; 
    }
    .main-timeline .timeline:nth-child(even) .timeline-icon { 
        left: -80px;
    }
    .main-timeline .timeline-icon { 
        right: -80px; 
    }
    .main-timeline .timeline { 
        padding: 0 50px 0 0; 
    }
    .main-timeline .timeline:nth-child(even) {
        padding: 0 0 0 50px; 
    }
}

@media (min-width:1901px) and (max-width:2500px) {
    /*--- New Css  21-09-2022 --*/
    .close-nav {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    #myChart2 {
        height: 270px !important;
    }
}

@media only screen and (max-width: 1200px) {
    #myChart2 {
        height: 270px !important;
    }
}

@media only screen and (max-width: 1400px) {
    #myChart2 {
        height: 270px !important;
    }
}

@media only screen and (max-width: 1920px) {
    #myChart2 {
        height: 270px !important;
    }
}

@media only screen and (max-width: 1300px) {
    .chartGrid {
        width: 90%;
        height: 270px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        background: repeating-linear-gradient(to bottom, #aaa 0, #aaa 1px, transparent 1px, transparent 20%);
    }
}

@media only screen and (max-width: 1200px) {
    .chartGrid {
        width: 90%;
        height: 270px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        background: repeating-linear-gradient(to bottom, #aaa 0, #aaa 1px, transparent 1px, transparent 20%);
    }
}

@media only screen and (max-width: 1400px) {
    .chartGrid {
        width: 90%;
        height: 270px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        background: repeating-linear-gradient(to bottom, #aaa 0, #aaa 1px, transparent 1px, transparent 20%);
    }
}

@media only screen and (max-width: 1920px) {
    .chartGrid {
        width: 100%;
        height: 290px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        background: repeating-linear-gradient(to bottom, #aaa 0, #aaa 1px, transparent 1px, transparent 20%);
    }
}