.bg {
    background-color: #1e3a8a;
    color: #fff;
}

.bg:hover {
    color: #fff;
}

.main-panel .img-box img {
    height: 180px;
    width: 190px !important;
    padding: 20px 0;
}

.main-panel .card {
    padding: 15px 30px;
}