$color1											: 	#2A50ED;
$color2											: 	#2D3959;
$color3											: 	#E6EDFE;
$color4											: 	#F3F5FB;
$color5											: 	#ffffff;
$color6											: 	#27ae60;
$color7 										: 	#e74c3c;


$primary    									:   $color1;
$dark       									:   $color2;
$primaryLight            						: 	$color3;
$bgColor             							: 	$color4;
$white            								: 	$color5;
$green		     						        :   $color6;
$red		     						        :   $color7;