*{outline: none !important;}
html{
    height: 100%;
    scroll-behavior: smooth;
    body{
        height: 100%;
        background-color: $bgColor;
    }
}
.redColor{color: $red !important;}
.greenColor{color: $green !important;}
.mainHeader{
    height: 60px;
    width: 100%;
    border: $primaryLight solid 1px;
    background-color: $white;
    display: flex;
    align-items: center;
    z-index: 9;
    position: fixed;
    top: 0;
    .brandName{
        width: 219px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: $primaryLight solid 1px;
        @include transition(0.3s all linear);
        img{
            height: 18px;
            &:nth-child(2){
                display: none;
            }
        }
    }
    &.mini{
        .brandName{
            width: 60px;
            img{
                &:first-child{
                    display: none !important;
                }
                &:nth-child(2){
                    display: block;
                }
            }
        }
    }
    .toggleSide{
        margin:0 15px;
        img{
            width: 18px;
        }
    }
    .pageTitle{
        font-size: 18px;
        font-weight: 600;
        color: $dark;
    }
    .mainHeaderNotify{
        margin-left: auto;
        background-color: #F2F6FE;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 15px;
        @include borderRadius(10px);
        img{
            width: 20px;
        }
    }
    .profileLogin{
        display: flex;
        margin-right: 15px;
        align-items: center;
        >a{
            display: flex;
            flex-direction: column;
            color: $dark;
            font-weight: 600;
            margin-left: 10px;
            line-height: 16px;
            strong{
                color: #737D98;
                font-weight: normal;
            }
        }
    }
}
.mainWrapper{
    padding-top: 60px;
    padding-left: 220px;
    @include transition(0.3s padding linear);
    .leftSide{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 220px;
        border: $primaryLight solid 1px;
        background-color: $white;
        z-index: 9;
        height: calc(100vh - 59px);
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        @include transition(0.3s width linear);
        a{
            min-height: 38px !important;
            font-size: 13px;
            font-weight: 500;
            color: #76879F;
            display: flex;
            align-items: center;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            @include borderRadius(5px);
            &:first-child{
                margin-top: 15px;
            }
            i{
                min-width: 40px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 !important;
                font-size: 14px;
            }
            &.active, &:hover{
                background-color: $primary;
                color: $white;
            }
        }
    }
    &.mini{
        padding-left: 60px;
        .leftSide{
            width: 60px;
            a{
                &:hover{
                    width: 200px;
                }
            }
        }
    }
}
.mainTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 0;
    .h4{
        min-height: 36px;
        display: inline-flex;
        align-items: center;
        font-size: 17px;
        font-weight: 600;
        color: $dark;
        margin: 0;
    }
    .controls{
        display: flex;
        .btn{
            margin-left: 7px;
        }
    }
}
.agentProgramView{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    .filtersOptions{
        min-width: 400px;
        max-width: 400px;
    }
    .agentProgramData{
        width: calc(100% - 415px);
    }
}
.panel{
    background-color: $white;
    margin-top: 15px;
    @include borderRadius(10px);
    display: flex;
    flex-direction: column;
    .pHead{
        padding:0 15px;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: #EFF4FF solid 1px;
        min-width: 100%;
        .h5{
            font-size: 14px;
            font-weight: 600;
            color: $dark;
            margin: 0;
        }
        .control{
            display: flex;
            align-items: center;
            padding: 16px 0;
            .form-group{
                margin: 0;
            }
            .form-select{
                border: 1px solid #ced4da;
                height: 36px;
                font-size: 12px;
                font-weight: 500;
                z-index: 1;
                position: relative;
                background-color: transparent;
                @include borderRadius(8px);
            }
            .search{
                margin-right: 15px;
                input{
                    border: 1px solid #ced4da;
                    height: 36px;
                    font-size: 12px;
                    font-weight: 500;
                    padding-left: 32px;
                    z-index: 1;
                    position: relative;
                    background-color: transparent;
                    @include borderRadius(8px);
                }
                >i{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 36px;
                    padding: 0;
                    width: 36px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .pBody{
        padding: 15px;
        min-width: 100%;
        .form-group{
            position: relative;
            .search i{
                z-index: 1;
            }
        }
        .select2-container .select2-search--inline .select2-search__field{
            margin-top: 3px;
        }
    }
    .btnGroup{
        display: flex;
        margin-top: 15px;
        justify-content: flex-end;
        &:not(.justify-content-start){
            .btn{
                &:last-child{
                    margin-left: 15px;
                }
            }
        }
        &.justify-content-start{
            .btn{
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
        .btn{
            i{
                margin-left: 5px;
            }
        }
    }
}
.form-group{
    label{
        font-size: 12px;
        font-weight: 600;
        color: $dark;
        margin: 0;
    }
    .form-control, .form-select{
        border: 1px solid #ced4da;
        height: 36px;
        font-size: 12px;
        font-weight: 500;
        z-index: 1;
        position: relative;
        background-color: transparent;
        @include borderRadius(8px);
    }
    &.checkbox{
        margin: 0;
        .col{
            margin-top: 15px;
        }
        .form-check-input + .form-check-label{
            margin-top: 4px;
        }
    }
}
.customTabs{
    border-bottom: #EFF4FF solid 1px;
    li{
        .nav-link{
            border: none !important;
            @include borderRadius(0 !important);
            color: $dark !important;
            font-weight: 500;
            &.active{
                border-bottom: $primary solid 2px !important;
                color: $primary !important;
            }
        }
    }
}
.agentProgramsList{
    border: $primaryLight solid 1px;
    margin-top: 15px;
    @include borderRadius(10px);
    overflow: hidden;
    .agentProgramsListHead{
        background-color: $bgColor;
        border-bottom: $primaryLight solid 1px;
        padding: 15px;
        display: flex;
        width: 100%;
        position: relative;
        padding-left: 60px;
        min-height: 65px;
        flex-direction: column;
        color: $dark;
        font-size: 11px;
        line-height: 16px;
        justify-content: center;
        strong{
            font-size: 13px;
            font-weight: 600;
        }
        .thumb{
            width: 35px;
            height: 35px;
            @include borderRadius(100%);
            overflow: hidden;
            position: absolute;
            left: 15px;
            border: $primaryLight solid 1px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .agentProgramsListTitle{
        font-size: 13px;
        font-weight: 600;
        margin: 0;
        padding: 15px 15px 0;
        display: flex;
        width: 100%;
        color: $dark !important;
    }
    .agentProgramsListView{
        display: flex;
        padding: 15px;
        .programsListView{
            display: flex;
            position: relative;
            height: 35px;
            padding-left: 45px;
            width: calc(100% / 3);
            .thumb{
                width: 35px;
                height: 35px;
                @include borderRadius(100%);
                overflow: hidden;
                position: absolute;
                left: 0;
                background-color: $bgColor;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    height: 15px;
                }
            }
            .title{
                flex-direction: column;
                display: flex;
                color: $dark;
                font-size: 11px;
                line-height: 16px;
                strong{
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
    .expandBtn{
        border-top: $primaryLight solid 1px;
        width: 100%;
        padding:8px 15px;
        font-size: 12px;
        color: $primary !important;
        font-weight: 600;
        align-items: center;
        display: flex !important;
        &.hide1{
            display: none !important;
        }
        i{
            margin-left: 5px;
        }
    }
}
.mainFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: #74788d;
    font-size: 13px;
}
.studentSection{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    margin-top: 15px;
}
.tableGridView{
    background-color: $white;
    @include borderRadius(10px);
    overflow: hidden;
    .tableCustomStudent{
        thead{
            tr{
                th{
                    color: $dark;
                    font-size: 12px;
                    font-weight: 600;
                    vertical-align: middle !important;
                    padding: 5px ;
                    border-color: #DEE7FA;
                    &:not(:first-child){
                        border-left:solid 1px #DEE7FA;
                    }
                    &:first-child{
                        padding-left: 15px;
                    }
                    &:last-child{
                        padding-right: 15px;
                    }
                    .form-control{
                        padding: 0 0 0 5px;
                        color: #828EA4;
                        font-size: 11px;
                        height: 32px;
                    }
                    .form-select{
                        color: #828EA4;
                        height: 32px;
                        font-size: 11px;
                        padding: 0 5px;
                        background-position: right 5px center;
                    }
                    &.size{width: 45px;}
                    &.size1{width: 60px;}
                    &.size2{width: 80px;}
                    &.size3{width: 100px;}
                    &.size4{width: 160px;}
                    &.size5{width: 150px;}
                    &.size6{width: 200px;}
                    .fromToDate{
                        display: flex;
                        >.calendar{
                            width: 90px;
                            >.input{
                                width: 100%;
                            }
                        }
                    }
                }
                &:nth-child(2){
                    th{
                        &:nth-child(2){
                            padding-left: 15px;
                            border-left: none;
                        }
                    }
                }
            }
        }
        tbody{
            tr{
                &:nth-child(odd){
                    td{
                        background-color: #f6f9fe;
                    }
                }
                td{
                    text-align: left;
                    vertical-align: middle !important;
                    font-size: 11px;
                    font-weight: 500;
                    padding: 5px;
                    border-color: #DEE7FA;
                    &:not(:first-child){
                        border-left:solid 1px #DEE7FA;
                    }
                    &:first-child{
                        padding-left: 15px;
                    }
                    &:last-child{
                        padding-right: 15px;
                    }
                    >a{
                        // max-width: 200px;
                        display: block;
                        overflow: hidden;
                        color: $primary;
                        text-overflow: ellipsis;
                    }
                    .text{
                        display: flex;
                        max-width: 200px;
                        white-space: normal;
                        align-items: flex-start;
                        i{
                            margin-top: 4px;
                            margin-right: 5px;
                        }
                    }
                    .scoreView{
                        width: 30px;
                        height: 30px;
                        background-color: $bgColor;
                        font-size: 12px;
                        color: $dark;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        @include borderRadius(100%);
                    }
                    &.status{
                        .bg-warning{
                            background-color: #FFEDEC !important;
                            color: #D10B00 !important;
                            padding:0 15px !important;
                            @include borderRadius(20px);
                            height: 22px;
                            display: flex;
                            align-items: center;
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                    .schoolView{
                        max-width: 100px;
                        img{
                            width: 20px;
                            height: 20px;
                            margin-right: 5px;
                            @include borderRadius(100%);
                        }
                    }
                    &.scoreHere{
                        .scoreView:nth-child(1){background-color: #FFB661;color: #fff;margin: 0 3px;}
                        .scoreView:nth-child(2){background-color: #339AF9;color: #fff;margin: 0 3px;}
                        .scoreView:nth-child(3){background-color: #FF6365;color: #fff;margin: 0 3px;}
                        .scoreView:nth-child(4){background-color: #24D049;color: #fff;margin: 0 3px;}
                    }
                    &.action{
                        .dropdown{
                            float: right;
                            >button{
                                border: none !important;
                                outline: none;
                                background-color: transparent !important;
                                font-size: 14px;
                            }
                        }
                    }
                }
                &:last-child{
                    td{
                        border-bottom-color: transparent;
                    }
                }
            }
        }
    }
    .tableFooter{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border-top:solid 1px #DEE7FA;
        .controls{
            display: flex;
            align-items: center;
            select{
                height: 36px;
                padding: 0 8px;
                width: 60px;
                margin-left: 8px;
            }
            >nav{
                >div{
                    position: relative !important;
                    align-items: center;
                    >div{
                        margin-left: 10px;
                        >span{
                            box-shadow: none !important;
                            display: flex;
                            >*{
                                padding:5px 10px !important;
                                background-color: #fff !important;
                                border:solid 1px #DEE7FA !important;
                                margin: 0 2px;
                                @include borderRadius(5px);
                                width: 30px;
                                &:hover{
                                    background-color: $bgColor !important;
                                }
                                &[aria-current="page"]{
                                    background-color: $primary !important;
                                    color: $white;
                                }
                                *{
                                    padding: 0 !important;
                                    border: none !important;
                                    box-shadow: none !important;
                                    background-color: transparent !important;
                                }
                            }
                        }
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.customModalView{
    p{
        &.text{
            display: flex;
        }
    }
    label{
        &.text{
            margin-left: 10px;
        }
    }
    .text{
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        color: $dark;
    }
    .h5{
        font-size: 12px;
        font-weight: 600;
        color: $dark;
        display: flex;
        margin: 15px 0 5px;
    }
}
.filtersViewRight{
    overflow-y: auto;
    .tab-pane{
        padding:15px 0 0 !important;
        >.form-group{
            margin-top: 10px;
        }
    }
}
.columnFilter{
    display: flex;
    align-items: center;
    margin-top: 10px;
    input{
        margin: 0;
        margin-right: 10px;
    }
    a{
        font-size: 12px;
        font-weight: 600;
    }
    span{
        margin-right: auto;
        font-size: 12px;
        font-weight: 600;
        color: $dark;
    }
    label{
        margin: 0;
        &:first-child{
            margin-right: 10px;
        }
    }
}
.studentProfilePage{
    padding: 0 15px;
    .form-switch{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        input{
            margin-top: 0;
            &:checked{
                background-color: $primary !important;
            }
        }
        label{
            margin: 0;
        }
    }
    .pHead{
        flex-direction: column;
        align-items: flex-start;
    }
    .profileSection{
        display: flex;
        padding: 15px 0;
        align-items: center;
        .thumb{
            max-width: 80px;
            min-width: 80px;
            height: 80px;
            overflow: hidden;
            @include borderRadius(100%);
            &[data-testid]{
                border: $dark solid 1px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-size: 40px;
                color: $dark;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .profileInfo{
            display: flex;
            flex-direction: column;
            margin-left: 25px;
            span{
                color: $dark;
                &.name{
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    display: flex;
                }
                a{
                    color: $primary;
                    font-weight: 500;
                    text-decoration: underline !important;
                }
            }
        }
    }
    form{
        .h4{
            color: #2D3959;
            font-size: 16px;
            font-weight: 600;
            border-top: #EFF4FF solid 1px;
            display: flex;
            padding: 25px 15px 15px;
            margin: 25px -15px 0;
        }
    }
    .formCheckBox{
        height: 40px;
        display: flex;
        align-items: center;
        .form-check{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            input{
                margin-right: 5px;
                margin-top: 0;
                &:checked{
                    background-color: $primary !important;
                }
            }
        }
    }
    .form-group{
        margin-bottom: 15px;
        .form-control, .form-select{
            height: 40px;
        }
        textarea{
            &.form-control{
                height: 100px;
            }
        }
        .select2-container--default .select2-selection{
            border-color: #ced4da;
        }
    }
    .cardFeature{
        margin-top: 25px;
        padding: 25px;
        @include borderRadius(14px);
        background-color: #F1F6FF;
        .h5{
            font-size: 20px;
            font-weight: 600;
            color: $dark;
            display: flex;
            margin-bottom: 10px;
        }
        >div{
            display: flex;
            align-items: center;
            font-size: 12px;
            color: #2D3959;
            margin-top: 4px;
            font-weight: 500;
            >i{
                margin-right: 5px;
                color: #24D049;
            }
            strong{
                font-weight: 500;
                width: 40%;
            }
        }
    }
}
.customAlert{
    display: flex;
    align-items: center;
    margin: 15px 0;
    >i{
        margin-right: 5px;
    }
    font-weight: 600;
    a{
        margin-left: auto;
        color: $primary !important;
        text-decoration: underline !important;
    }
}